.contact-container{
  display: flex;
  align-items:center;
  flex-direction: column;
  padding: 30px 0px 150px 0px;
}

.contact-info-container{
  max-width: 450px;
  justify-content: center;
  text-align: center;
}
.email-button{
  background-color: rgba(112, 196, 196, 0.822);
  border-radius: 5px;
  border: none;
  height: 40px;
}