/* { border: 1px solid orange; }*/

body{
  line-height: 27px;
  background-color:#0a192f;
  font-family: Roboto, Arial;
  /*border: 0; */
  padding: 0;
  margin: 0;
  color:white;
}
a,a:visited{
  padding: 0;
  text-decoration: none;
  color: white;
}

ul{
  padding:0;
  margin: 0;
  list-style-type: none;
}

button {
  background: none;
}

