.projects-container{
  background-color: #0a192f;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 150px;
}
.projects-grid{
  display:grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-rows: 1fr;
  column-gap: 40px;
  row-gap:  180px;
}

.project-preview,.project-preview-flipped{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.project-info{
  max-width: 300px;
  display: block;
  margin-left:30px;
}

.project-image{
  height: 300px;
}

.project-title{
  text-decoration: underline;
  font-weight: 700;
}

.project-stack{
  padding: 0;
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: left;
}

.project-stack li{
  font-size: 14px;
  margin-right: 10px;
}

.project-icon-buttons{
  padding: 0;
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: left;
}

.github-icon{
  margin-right: 20px;
  height: 22px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.project-link-icon{
  height: 22px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

@media (max-width: 950px){
  .project-preview-flipped{
    flex-direction: column-reverse;
    align-items:center;
  }
  .project-preview{
    align-items: center;
    flex-direction: column;
  }

}

@media (max-width: 640px){
  .project-info{
    margin: 0;
  }
  .project-image{
    height: 220px;
  }
}

@media(max-width: 475px){
  .project-image{
    height: 175px;
  }
}